<form action="/submitdata" method="post">
  <label for="name">First name:</label><br>
  <input type="text" id="fname" name="username" value=""><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="usersurname" value="" placeholder='test'><br><br>
  <button type="submit"> Submit your data </button> 
</form> 
