
{% from "../_macros/genericmacros.njk" import howAreYouToday  %}

{% extends "../_layouts/default.njk" %}

{% block body %}

    <div style="color: red;" > Text inside the block </div>
    
    {% for feature in featList %}
        <div> {{ feature.name }} - {{feature.desc}} </div>
    {% endfor %}

    {{ howAreYouToday('Happy', 'Because I can play with nunjucks') }}

    {% include "../_partials/dummyform.njk" %}

    {% include "../_partials/includesexample.njk" %}

{% endblock %}