<!DOCTYPE html>
<html lan="eng">
    {% include "_partials/head.njk" %}
    <body>

        <h1> {{ headerBodyText }} </h1> 
        <div> Text before block </div>
        
        <div class="main-wrapper">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>