<!DOCTYPE html>
<html lan="eng">
    {% include "_partials/head.njk" %}
    <body>
        <div> Test </div>
        <div class="main-wrapper">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>