{% from "../components/header/macro.njk" import govukHeader %}
{% from "..//components/footer/macro.njk" import govukFooter %}

<!DOCTYPE html>

<html lan="eng">

  {% include "_partials/head.njk" %}

  <body>
    {% block header %}
      {{
        govukHeader({
        homepageUrl: "#",
        containerClasses: "govuk-width-container",
        serviceName: "Index Page",
        serviceUrl: "#",
        navigation: [
          {
            href: "/",
            text: "Home",
            active: "home" == tabName 
          },
          {
            href: "/demo-form",
            text: "Demo form",
            active: "demoform" == tabName 
          }]
        })
      }}
    {% endblock %}

    <div style="min-height: 70vh; display: flex;" class="govuk-width-container">
      <main style="flex: 1;" class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
        {% block bodycontent %}
          <h1>
            Index page
          </h1>
        {% endblock %}
      </main>
    </div>

    {% block footer %}
      {{
        govukFooter({
          meta: {
          items: [
            {
              href: "#1",
              text: "Help"
            },
            {
              href: "#2",
              text: "Cookies"
            },
            {
              href: "#3",
              text: "Contact"
            },
            {
              href: "#4",
              text: "Terms and conditions"
            }]
          }
        })
      }}
    {% endblock %}

    <script rel="stylesheet" src="./js/all.js"></script>
    <script rel="stylesheet" src="./js/main.js"></script>
  </body>

</html>