{% macro howAreYouToday(yourState, description) %}

    <div style='color: teal; margin: 50px;' >  Today I am: {{ yourState }} </div>
    <div style='color: teal; margin: 50px;' > I feel like that because: {{ description }} </div>

{% endmacro %}