{% macro howAreYouToday(yourState, description) %}
{# Example #}
    <div style='color: teal !important; margin-top: 16px;' >  Today I am: {{ yourState }} </div>
    <div style='color: teal !important; margin: 16px 0 16px 0;' > I feel like that because: {{ description }} </div>

{% endmacro %}